
    <div class="footer__header">
        <div class="nodejs__footer"><a href="#"><h1>NodeJs News</h1></a></div>
        <div class="copyright">Copyright &#169 2021 NodeJs News. All rights reserved.</div>
    </div>
 
    <div class="news__wrapper">
        <div class="finishing"><a href="#">About NodeJs News</a></div>
        <div class="finishing"><a href="#">Terms of Service</a></div>
        <div class="finishing"><a href="#">Privacy Policy</a></div>
        <div class="finishing"><a href="#">Advertise with us</a></div>
        <div class="finishing"><a href="#">Ad Choice</a></div>
        <div class="finishing"><a href="#">Cookies</a></div>
        <div class="finishing"><a href="#">Contact us</a></div>
        <div class="finishing"><a href="#">Help</a></div>
    </div> 


