<div class="header__menu">
    <a href="" ><div class="menu__content">Home</div></a>
    <a href="/technology" ><div class="menu__content">Technology</div></a>
    <a href="/business" ><div class="menu__content">Business</div></a>
    <a href="/science" ><div class="menu__content">Science</div></a>
    <a href="/politics" ><div class="menu__content">Politics</div></a>
    <a href="/market" ><div class="menu__content">Market</div></a>
    <a href="/investing" ><div class="menu__content">Investing</div></a>
    <a href="/health" ><div class="menu__content">Health</div></a>
    <a href="/sport" ><div class="menu__content">Sport</div></a>
    <a href="/travel" ><div class="menu__content">Travel</div></a>
    <a href="/style" ><div class="menu__content" id="last">Style</div></a>
</div>